body {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', 'Monospace';
}
.container {
    margin: 3.125rem auto;
    padding: .3125rem;
    max-width: 750px;
}
h1, h2 {
    font-weight: 400;
    margin: 0;
}

h2 {
    font-weight: 300;
    color: #96979c;
}

.header {
    /* margin-top: 10rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text-frame {
    margin-right: 1.25rem;
}

.img-frame {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 0 10px 0;
    border-radius: 50%; 
    /* overflow: hidden; */
}

.img-frame img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 50%;
}

.links {
    margin: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
}

a {
    color: #33ff33;
}

.links a {
    margin: auto 1em auto 0;
}

.tabs {
    overflow: hidden;
    border: 1px solid black;
    background-color: black;
}

.tabs button {
    margin-right: 1rem;
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    font-family: inherit;
}

.tabs button#abouttab {
    border: 1px solid red;
}
  
.tabs button#doingtab {
    border: 1px solid #33ff33;
}

.tabs button:hover {
    background-color: rgb(24, 24, 24);
}

.tabs button#abouttab.active {
    background-color: rgb(104, 0, 0);
}

.tabs button#doingtab.active {
    background-color: #006b00;
}

.tabcontent {
    display: none;
}

.tabcontent#about {
    /* display: none; */
    padding: 6px 12px;
    border: 1px solid red;
}

.tabcontent#doing {
    padding: 6px 12px;
    border: 1px solid #33ff33;
}